.parent {
  border: 2px solid red;
  width: 800px;
  height: 500px;
  margin: 20px auto;
}
.dubparen{
    border: 5px solid green;
    border-radius: 40px;
    text-align: center;
}

/* div {
  border-radius: 10px;
  background: cyan;
  color: white;
} */
